---
import type { HTMLAttributes } from "astro/types";
import Socials from "./Socials.astro";
import { useTranslations } from "@/i18n";

type Props = {
  noMarginTop?: boolean;
} & HTMLAttributes<"footer">;

const { noMarginTop = false, class: className, ...attrs } = Astro.props;

const t = useTranslations(Astro.currentLocale);
const currentYear = new Date().getFullYear();
---

<footer
  class:list={["app-layout", { "mt-auto": !noMarginTop }, className]}
  {...attrs}
>
  <div
    class="border-border flex flex-col items-center justify-between border-t py-6 sm:flex-row-reverse sm:py-4"
  >
    <Socials />
    <div class="my-2 flex flex-col items-center whitespace-nowrap sm:flex-row">
      <span>{t.footer.copyright} &#169; {currentYear}</span>
      <span class="hidden sm:inline">&nbsp;|&nbsp;</span>
      <span>{t.footer.allRightsReserved}</span>
    </div>
  </div>
  <div class="border-border text-muted-foreground border-t py-3 text-center text-xs">
    Powered by
    <a class="hover:text-accent underline decoration-dashed underline-offset-4" href="https://pages.cloudflare.com/" target="_blank" rel="noopener">Cloudflare Pages</a>,
    <a class="hover:text-accent underline decoration-dashed underline-offset-4" href="https://workers.cloudflare.com/" target="_blank" rel="noopener">Workers</a>,
    <a class="hover:text-accent underline decoration-dashed underline-offset-4" href="https://developers.cloudflare.com/d1/" target="_blank" rel="noopener">D1</a> &amp;
    <a class="hover:text-accent underline decoration-dashed underline-offset-4" href="https://www.cloudflare.com/products/r2/" target="_blank" rel="noopener">R2</a>
  </div>
</footer>
